h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

.categories {
    background-color: #EFEFEF;
}

.categories:hover {
    cursor: pointer;
    background-color: #EDBC00;
    font-weight: 500;
}

.items {
    background-color: #EFEFEF;
}

.items:hover {
    cursor: pointer;
    background-color: #EDBC00;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}